<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .current{
            color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <div> 
            <fruit-list :list='list'>
                <template slot-scope='slotProps'>
                    <strong v-if='slotProps.info.id == 3' class="current">{{slotProps.info.name}}</strong>
                    <span v-else>{{slotProps.info.name}}</span>
                </template>
            </fruit-list>
        </div>
    </div>
    <script  src="../js/vue.js"></script>
    <script>
        // 组件注册
        Vue.component('fruit-list', {
            props: ['list'],
            data: function(){
                return {
                    
                }
            },
            template: `
                <div>
                    <li :key='item.id' v-for='(item,index) in list'>
                        <slot :info='item'>{{item.name}}</slot>
                    </li> 
                </div>
            `,
            methods: {
                
            }

        })


        var vm = new Vue({
            el: '#app',
            data: {
                list:[{
                    id:1,
                    name:'app',
                },{
                    id:2,
                    name:'bpp',
                },{
                    id:3,
                    name:'cpp',
                }]
            },
            methods: {

            },

        })
    </script>
</body>
</html>