<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
   .jisuanqi{
       border: 1px solid #999;
       padding-left:10px ;
   }
   .shuzhia,.shuzhib{
       height: 40px;
       display: flex;
       align-items: center;
   }
   .shuzhia,.shuzhib, span{
       padding-right: 10px;
   }
</style>
<body>
    <div id="app">
        <div class="jisuanqi">
            <h1>简单计算器</h1>
            <div class="shuzhia">
                <span>数值A:</span>
                <input type="text" v-model="a">
            </div>
            <div class="shuzhib">
                <span>数值B:</span>
                <input type="text" v-model="b">
            </div>
            <div class="jisuan" >
                <button  v-on:click="handel">计算</button>
            </div>
            <div class="jieguo">
                <span>计算结果:</span>
                <!-- 不建议这样写 -->
                <!-- <span>{{result}}</span> -->
                <span v-text="result"></span>
            </div>
        </div>
        
        <div>
            <input type="text" v-on:keyup.aaa="handel1" v-model="info">
        </div>
        
      
    </div>
    <script  src="../js/vue.js"></script>
    <script>
        Vue.config.keyCodes.aaa = 65
        var vm = new Vue({
            el: '#app',
            data: {
               a:'',
               b:'',
               result:'',
               info:''
            },
            methods:{
                // 简单计算器
              handel: function(){
                    // this.result = this.a + this.b 结果为字符串 
                    this.result = parseInt(this.a) + parseInt(this.b)
                    
                  console.log(this.result);
              },
                //自定义按键修饰符
              handel1: function(event){
                console.log(event.keyCode);

              }
            }

        })
    </script>
</body>
</html>